/* The colorful button*/
.btn-colorful {
    background-image: linear-gradient(to right, rgb(225, 14, 225), red);
    border-radius: 50px;
}
/* Carousel section */
.carousel-indicators button {
    border-radius: 50%;
}
.carousel {
    position: relative;
}
@media only screen and (max-width: 575.98px) {
    .features .col-lg-4 {
        min-height: 400px;
        max-height: 400px;
    }
    .features .col-lg-4:nth-child(1) .text {
        position: absolute;
        top: 50%;
        left: 60%;
        transform: translate(-50%, -50%);
    }
    .features .col-lg-4:nth-child(2) .text {
        position: absolute;
        top: 80%;
        left: 35%;
        transform: translate(-50%, -50%);
    }
    .features .col-lg-4:nth-child(3) .text {
        position: absolute;
        top: 25%;
        left: 37%;
        transform: translate(-50%, -50%);
    }

}
@media (min-width: 576px) and (max-width: 767.98px) {
    .features .col-lg-4 {
        min-height: 400px;
        max-height: 400px;
    }
    .features .col-lg-4:nth-child(1) .text {
        position: absolute;
        top: 50%;
        left: 60%;
        transform: translate(-50%, -50%);
    }
    .features .col-lg-4:nth-child(2) .text {
        position: absolute;
        top: 80%;
        left: 35%;
        transform: translate(-50%, -50%);
    }
    .features .col-lg-4:nth-child(3) .text {
        position: absolute;
        top: 25%;
        left: 37%;
        transform: translate(-50%, -50%);
    }

}
@media (min-width: 768px) and (max-width: 991.98px) {
    .features .col-lg-4 {
        min-height: 400px;
        max-height: 400px;
    }
    .features .col-lg-4:nth-child(1) .text {
        position: absolute;
        top: 50%;
        left: 60%;
        transform: translate(-50%, -50%);
    }
    .features .col-lg-4:nth-child(2) .text {
        position: absolute;
        top: 80%;
        left: 40%;
        transform: translate(-50%, -50%);
    }
    .features .col-lg-4:nth-child(3) .text {
        position: absolute;
        top: 25%;
        left: 37%;
        transform: translate(-50%, -50%);
    }
    .gallery img {
        min-height: 200px;
        max-height: 200px;
        width: 100%;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    .features .col-lg-4 {
        min-height: 400px;
        max-height: 400px;
    }
    .features .col-lg-4:nth-child(1) .text {
        position: absolute;
        top: 50%;
        left: 60%;
        transform: translate(-50%, -50%);
    }
    .features .col-lg-4:nth-child(2) .text {
        position: absolute;
        top: 70%;
        left: 40%;
        transform: translate(-50%, -50%);
    }
    .features .col-lg-4:nth-child(3) .text {
        position: absolute;
        top: 25%;
        left: 37%;
        transform: translate(-50%, -50%);
    }
    .gallery img {
        min-height: 200px;
        max-height: 200px;
        width: 100%;
    }
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
    .features .col-lg-4 {
        min-height: 400px;
        max-height: 400px;
    }
    .features .col-lg-4:nth-child(1) .text {
        position: absolute;
        top: 50%;
        left: 60%;
        transform: translate(-50%, -50%);
    }
    .features .col-lg-4:nth-child(2) .text {
        position: absolute;
        top: 70%;
        left: 40%;
        transform: translate(-50%, -50%);
    }
    .features .col-lg-4:nth-child(3) .text {
        position: absolute;
        top: 25%;
        left: 37%;
        transform: translate(-50%, -50%);
    }
    .gallery img {
        min-height: 200px;
        max-height: 200px;
        width: 100%;
    }
}
@media (min-width: 1400px)  {
    .features .col-lg-4 {
        min-height: 500px;
        max-height: 500px;
    }
    .features .col-lg-4:nth-child(1) .text {
        position: absolute;
        top: 50%;
        left: 60%;
        transform: translate(-50%, -50%);
    }
    .features .col-lg-4:nth-child(2) .text {
        position: absolute;
        top: 80%;
        left: 40%;
        transform: translate(-50%, -50%);
    }
    .features .col-lg-4:nth-child(3) .text {
        position: absolute;
        top: 25%;
        left: 40%;
        transform: translate(-50%, -50%);
    }
    .gallery img {
        min-height: 200px;
        max-height: 200px;
        width: 100%;
    }
}
@media (min-width: 992px) {
    .carousel-indicators {

        position: absolute;
        top: 50%;
        left: 60%;
        transform: translate(-50%, -50%) rotate(90deg);
        z-index: 999;
    }
    .right-side-container {
        height: 500px;
    }
    .right-side-container .right-side {
        height: 500px;
    }
    .right-side-container .col-md-9 img {
        height: 500px;
    }
}
.bg-colorful {
    background-image: linear-gradient(to right, rgb(225, 14, 225), red);
}
.bg-black_work {
    background-color: rgb(48, 48, 48);
}
/* Features section */
.features .col-lg-4 {
position: relative;
}
.features .col-lg-4:nth-child(1) {
    background-image: url(img1.jpeg);
    background-size: cover;
    background-position: center center;
}
.features .col-lg-4:nth-child(2) {
    background-image: url(img5.webp);
    background-size: cover;
    background-position: center center;
}
.features .col-lg-4:nth-child(3) {
    background-image: url(img4.jpg);
    background-size: cover;
    background-position: center center;
}
/* Photo section */
.photo {
    background-image: linear-gradient(to right, rgba(225, 14, 225, 0.404), rgba(255, 0, 0, 0.404));
}
/* Footer */
footer .container-fluid {
    position: relative;
}
footer .text {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
/* Profile */
.profile {
    position: relative;
}
.profile .col-md-12  img {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 80;
}
/* Preloader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(25,25,31);
    z-index: 999999;
}
.circle {
height: 100px;
width: 100px;

background-color: transparent;
border: 5px dashed white;
border-radius: 50%;

animation: rotation 2.5s infinite;


}
@keyframes rotation {
  0% {
    transform: rotate(0deg) scale(1); }
  25% {
      transform: rotate(120deg) scale(0.7);
  }
  50% {
      transform: rotate(240deg) scale(0.5);
  }
  100% {
    transform: rotate(360deg) scale(1); } }
@media only screen and (min-width: 567px) {
.circle {
    height: 400px;
width: 400px;
}
}

