$dark: rgb(17, 17, 17);
$carousel-indicator-width:           30px;
$carousel-indicator-height:          30px;
$carousel-indicator-spacer:          10px;
$accordion-bg:                  transparent;
$accordion-border-color:                transparent;
$accordion-border-radius:               0px;
$accordion-button-color:                  white;
$accordion-button-bg:                     #dc35466d;
$accordion-button-active-bg:              #dc3546;
$accordion-button-active-color:           white;
@import "node_modules/bootstrap/scss/bootstrap";