/* Left Navbar */
@media (min-width: 992px) {
  nav {
      height: 100vh;
      width: 300px;
      overflow: auto;
  }
  .main {
      min-height: 100vh;
  }

}
.nav-left {
  background-color: black;
  color: white;
}
/* Right side */
.right-side {
  background-color: black;
}